@charset 'utf-8';

/* Fonts */

/* CSS Document */
body {
  margin: 0px;
  padding: 0px;
  background-color: #ccc !important;
  overflow-x: hidden;
}

.connection-status {
  display: none;
}

.login-panel {
  margin-top: 50px;
  height: auto;
  width: 100%;
  background-color: #fff;
}

.navbar {
  border: none !important;
}

.top-navigation {
  background-color: #414141 !important;
}

.top-navigation .navbar-brand {
  color: #fff !important;
}

.top-navigation .navbar-nav li a {
  color: #fff !important;
}

.side-navigation {
  margin-top: -20px;
  height: 660px;;
}
