@charset 'utf-8';

/* Fonts */

/* CSS Document */
body {
  margin: 0px;
  padding: 0px;
  background-color: #e2e2e2 !important;
}

.connection-status {
  display: none;
}

.main-wrapper {
  margin-top: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 4px #ccc;
}

.inner-wrapper {
  margin-left: -15px;
  margin-right: -15px;
}

.header {
  height: 150px;
  width: 100%;
  background-color: #fff;
  margin-top: -15px !important;
}

.logo {
  font-size: 40px;
  padding-top: 30px;
  margin-left: 15px;
}

.logo-color {
  color: #ff8000;
}

.additional {
  font-size: 14px;
  color: grey;
  font-style: italic;
  margin-left: 15px;
}

.navbar {
  background-color: #414141 !important;
  border: none !important;
  border-bottom: 3px solid #CF5454 !important;
}

.navbar-nav li a {
  color: #fff !important;
  text-shadow:
  transition: .5s ease;
}

.navbar-nav li:hover a {
  background-color: #CF5454 !important;
}

.navbar-nav li.active a {
  background-color: #CF5454 !important;
}

#carousel {
  height: 400px;
  width: 100%;
  background-color: #414141;
}

.carousel-image {
  height: 400px !important;
  width: 100% !important;
}

.carousel-indicators li {
  height: 10px !important;
  width: 50px !important;
  border-radius: 1px !important;
}

.popular-today {
  height: auto;
  width: 100%;
  border: 1px solid #ccc;
}

.popular-today-heading {
  height: 50px;
  width: 100%;
  background-color: #E16868;
}

.popular-today-heading p {
  position: absolute;
  font-size: 20px;
  margin-top: 12px;
  margin-left: 15px;
  color: #fff;
}

.popular-today .media-object {
  margin-left: 15px;
  height: 60px;
  width: 80px !important;;
}

.popular-today .see-more {
  height: 50px;
  width: 100%;
  background-color: #e2e2e2;
  margin-top: 15px;
}

.popular-today .see-more:hover {
  background-color: #ccc;
  box-shadow: 2px 2px 4px #A2A2A2;
}

.popular-today .see-more p {
  position: absolute;
  margin-top: 13px;
  font-size: 18px;
  margin-left: 40px;
}

.top-movies {
  border-top: 10px solid #DD4242 !important;
}

.top-movie-image {
  height: 200px !important;
  width: 100% !important;
}

.channel-time {
  color: grey;
  font-style: italic;
}

.top-sports .media,
.top-movies .media {
  height: 70px !important;
  margin-bottom: 20px !important;
  margin-left: 10px;
}

.top-movies .media .media-body,
.top-sports .media .media-body {
  height: 70px !important;
}

.top-movies .media .media-object,
.top-sports .media .media-object {
  height: 70px !important;
  width: 70px !important;
}

.top-movies .media-list .caption,
.top-sports .media-list .caption {
  height: 200px !important;
}

.top-sports {
  border-top: 10px solid #25BD44 !important;
}

.top-sport-image {
  height: 200px !important;
  width: 100% !important;
}

.thumbnail-image {
  height: 200px !important;
  width: 100%;
  background-color: #414141;
}

.media-object {
  height: 64px !important;
  width: 64px !important;
}

.ad img {
  height: 250px !important;
  width: 100%;
  margin-top: 50px;
}

.poll-panel {
  margin-top: 50px !important;
}

.poll-panel .panel-heading {
  background-color: #ff8000 !important;
}

.social-media-list .list-group-item {
  border: none !important;
}

.social-media-list .fa {
  color: #fff;
  font-size: 50px;
}

.social-media-list .text {
  font-size: 20px;
  color: #fff;
  position: absolute;
  margin-top: 12px !important;
}

.facebook {
  background-color: #3b5998 !important;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.facebook:hover {
  background-color: #2A4070 !important;
}

.twitter {
  background-color: #55acee !important;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.twitter:hover {
  background-color: #4184B7 !important;
}

.instagram {
  background-color: #fccc63 !important;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.instagram:hover {
  background-color: #C9A24E !important;
}

.youtube {
  background-color: #bb0000 !important;
  transition: .3s ease;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
}

.youtube:hover {
  background-color: #770000 !important;
}

.recent-news {
  border: 1px solid #ccc;
}

.recent-news-header {
  height: 50px;
  width: 100%;
  background-color: #ccc;
}

.recent-news-header p {
  font-size: 20px;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
}

.recent-news .media-object {
  height: 104px;
  width: 104px;
  margin: 10px;
}

.recent-news .media-heading {
  margin-top: 10px;
}

.recent-news .see-more {
  height: 50px;
  width: 100%;
  background-color: #ccc;
  font-size: 18px;
}

.recent-news .see-more p a {
  position: absolute;
  margin-top: 13px;
  margin-left: 10px;
  color: #333;
}

.recent-media {
  border: 1px solid #ccc;
}

.recent-media .media-object {
  margin: 10px;
}

.recent-media .media-heading {
  margin-top: 10px;
}

.social-media-list {
  margin-top: 50px;
}

.social-media-list .list-group-item {
  height: 70px;
}

/* | Channels Page | */
.jumbotron {
  background-color: #fff !important;
}

.channels-table img {
  height: 60px !important;
  width: 70px !important;
}

.channel-name {
  margin-left: 10px;
}

.channel-logo {
  height: 100px !important;
}

.footer {
  height: 200px;
  width: 100%;
  background-color: #414141;
}
